* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px;
}
.container {
    position: relative;
    width: calc(100% - 100px);
    min-height: calc(100vh - 280px);
    min-height: 300px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 15px 35 px rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
header {
    position: absolute;
    top: -40px;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}
header .logo {
    color: #8a2435;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
}
header ul {
    display: flex;
}
header ul li {
    list-style: none;
    margin: 0 10px;
}
header ul li a {
    text-decoration: none;
    font-weight: 500;
    color: #8a2435;
    padding: 8px 15px;
    border-radius:  25px;
}
header ul li a:hover, header ul li a.active {
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.menu {
    display: none;
}
.menu i {
    color: #8a2435;
}
.content {
    transform: translateX(-100px);
    max-width: 700px;
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 40px;
    padding-left: 110px;
}
.content h2 {
    font-size: 3em;
    color: #8a2435;
}
.content p {
    font-size: 1.2em;
    color: #8a2435;
}
.content a {
    display: inline-block;
    padding: 15px 30px;
    background: #fff;
    color: #8a2435;
    margin-top: 20px;
    border-radius: 30px;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.imgBox img {
    max-width: 400px;
    animation: animate 5s linear infinite;
}
@keyframes animate {
    0%, 100% {
        transform: translateY(50px);
    }
    50% {
        transform: translateY(100px);
    }
}
.sci {
    position: absolute;
    right: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li {
    list-style: none;
}
.sci li a {
    text-decoration: none;
    width: 50px;
    height: 50px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 5px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.sci li a img {
    transform: scale(0.6);
    transition: 0.5s;
}
.sci li:hover a img {
    transform: scale(0.6) rotate(360deg);
}
.copyrightText {
    position: absolute;
    bottom: 30px;
    left: 50px;
    color: #8a2435;
}
@media only screen and (max-width: 1200px) {
    .content h2 {
        font-size: 2em;
    }
}
@media only screen and (max-width: 1060px) {
    header .logo {
        font-size: 1.5em;
    }
    .container {
        width: calc(100% - 70px);
        padding: 30px;
    }
    .content {
        padding: 30px;
        padding-left: 90px;
    }
    .content h2 {
        font-size: 1.5em;
    }
}
@media only screen and (max-width: 960px) {
    .container {
        width: 100%;
        display: inline;
    }
    header ul {
        display: none;
    }
    .menu {
        display: inline;
        color: #000000;
    }
    .content {
        padding-left: 0px;
        display: inline;
        border: none;
    }
    .content h2 {
        margin-top: 50px;
    }
    .content p {
        font-size: 1em;
    }
    .imgBox {
        display: flex;
        justify-content: center;
    }
    .imgBox img {
        max-width: 100%;
        margin-bottom: 100px;
    }
    .sci {
        position: relative;
        right: 0;
        margin-bottom: -50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .copyrightText {
        position: relative;
        display: flex;
        left: 0px;
        justify-content: center;
        text-align: center;
        color: #8a2435;
    }
}
@media only screen and (max-width: 624px) {
    .sci {
        margin-bottom: -65px;
    }
}